


.navbar{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 2.1rem;
  /*margin-left: 50px;*/
}
.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
}
.nav-link:hover,
.nav-active {
  color: var(--text-color);
  transition: 0.3s all linear;
  transform: scale(1.1);
}
.nav-link .bx{
  font-size: 1.6rem;
}
.nav-link-title{
  font-size: 0.7rem;
}


/* Responsive */
@media (max-width:1170px){
  .navbar{
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    transform: translateY(0);
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 1px;
    padding: 10px;
    border-top: 1px solid hsl(200 100% 99% / 5%);
    background: linear-gradient(8deg,
    hsl(240 17% 14% / 100%) 5%,
    hsl(240 17% 14% / 90%) 100%
    );
  }
  .nav-link .bx {
    font-size: 1.5rem;
  }
}
@media (max-width: 1060px){
  .container{
    margin: 0 auto;
    width: 95%;
  }
}
@media (max-width: 991px){
  .movie-box{
    height: 340px;
  }

}
@media (max-width: 888px){
  .nav{
    padding: 14px 0;
  }

}
/* For Medium Devices / Table  */
@media (max-width: 768px){
  .nav{
    padding: 11px 0;
  }
}
@media (max-width: 514px){

}
@media (max-width: 408px){
  *{
    scroll-padding-top: 5rem;
  }
  .nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }
}
/* For small Devices */
@media (max-width: 370px){

  .navbar {
    justify-content: space-around;
    padding: 8px 0;
  }
  .nav-link .bx{
    font-size: 1.4rem;
  }

}


