:root{
  --main-color: #ffb43a;
  --hover-color: hsl(37,94%,57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
body {
  background: var(--body-color);
  color: var(--text-color);
}